* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
}

/* Logo no canto superior esquerdo */
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}


.logo {
  width: 100%;
  height: auto;
  max-width: 100px;
}

/* Container principal do formulário */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  max-width: 1600px;
  margin: 350px auto 0 auto; /* centraliza horizontal e ajusta vertical */
}

/* Estilo de cada bloco do formulário */
.container {
  flex: 1;
  min-width: 100px;
  max-width: 250px;
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Inputs de texto */
.caixa-texto {
  width: 100%;
  max-width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  margin-top: 5px;
}

/* Estilo ao interagir com o input */
.caixa-texto:hover {
  border: 1px solid red;
}
.caixa-texto:focus {
  border: 1px solid red;
  box-shadow: 0 0 1px rgba(247, 0, 0, 0.7);
}

/* Estilo para manter o layout no mesmo container */
.radio-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border 0.2s;
}

#data-parada {
  display: inline-block;
  margin-top: 10px;
  width: 100%;  /* Garante que o campo ocupe toda a largura disponível */
  padding-left: 10px; /* Ajuste de espaçamento entre o campo e os rádios */
  box-sizing: border-box; /* Garante que o padding não ultrapasse a largura total */
}


.radio-personalizado {
  accent-color: red;
}
.radio-personalizado:focus-within,
.radio-wrapper:has(.radio-personalizado:focus) {
  border: 1px solid red;
}
